@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 61, 216) !important;
    background-size: cover;
}

html {
    font-size: 62.5%;
}

#parent {
    display: grid;
    width: 30.0rem;
    grid-template-rows: 17% 17% 16% 16% 9% 15% 10%;
    height: 32.5rem;
    box-shadow: 5px 5px 170px rgb(118 78 78 / 30%);
}

header {
    display: flex;
    font-family: "Roboto", sans-serif;
    background-color: rgb(255, 255, 255);
    font-size: 2.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.input {
    width: 89% !important;
    border-radius: 0.3rem;
    border: 0.1rem solid pink;
    height: 57%;
    margin-top: auto;
    margin-bottom: auto;
}

.img {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.3rem;
    margin-right: 0.5rem;

}

#bt1 {
    width: 76%;
    border: 0.1rem solid white;
    height: 3.2rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;

    margin: auto;
}

#bt2 {
    width: 76%;
    height: 3.2rem;
    border: 0.1rem solid white;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;

    margin: auto;
}

#one {
    background-color: rgb(124, 219, 240);
    display: grid;
    grid-template-columns: 50% 50%;
}

.image {
    width: 2.2rem;
    height: 2.2rem;
    margin-left: 2.8rem;
    margin-top: auto;
    margin-bottom: auto;
}

#two {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 20% 80%;
}

#three {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 20% 80%;
}

.same {
    display: grid;
    grid-template-columns: 20% 80%;
}

#four {
    display: grid;
    grid-template-columns: 20% 44% 36%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

#five {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

}

#bt3 {
    width: 38%;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    height: 68%;
}

#cb {
    width: 1.0rem;
    height: 1.0rem;
    margin-top: 0.3rem;
    margin-left: 4.7rem;
}

#six {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 53% 47%;
    justify-content: center;
    font-size: 1.1rem;
    align-items: center;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

#l1 {
    margin-bottom: auto;
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;

    cursor: pointer;

}

#l2 {
    margin-bottom: auto;
    font-size: 1.1rem;
    cursor: pointer;
    font-family: "Roboto", sans-serif;

    color: deeppink;
}

#l3 {
    margin-left: auto;
    font-family: "Roboto", sans-serif;

}

#l4 {
    margin-left: 0.7rem;
    color: deeppink;
    font-family: "Roboto", sans-serif;

    cursor: pointer;

}


/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
    html {
        font-size: 53%;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    html {
        font-size: 56%;
    }

}


/* Medium Devices, Desktops */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    html {
        font-size: 62%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    html {
        font-size: 68%;
    }
}


/* Extra Large Devices, Extra Wide Screens */
@media only screen and (min-width: 1201px) {
    html {
        font-size: 75%;
    }
}