@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#first {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: palegreen;
  
    border-top-left-radius: 8px;
    height: 214px;
}

#third {
    display: grid;
    grid-template-columns: 26% 43% 31%;
    border-bottom-left-radius: 8px;
}

#music-container {
    border-radius: 8px;
    display: grid;
    grid-template-rows: 57% 11% 32%;
    text-align: center;
    background: pink;
    height: 375px;
    width: 300px;
}

#first img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

#resume {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 117px;
}

button {
    background-color: transparent;
    border: none;
    text-align: center;

}

audio {
    font-family: "Roboto", sans-serif;
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

#i1 {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 3;
    width: 100px;
    height: 100px;
}

#i2 {
    position: absolute;
    width: 100px;
    height: 100px;

}

.vol {
    width: 72px;
    height: 72px;
}

#image {
    border: 5px solid black;
    border-radius: 100% !important;
    width: 117px !important;
    height: 117px !important;
}

#div1 {
    font-family: "Roboto", sans-serif;

}

#div2 {
    font-family: "Roboto", sans-serif;

}

#div3 {
    font-family: "Roboto", sans-serif;

}